In [22]:
import pandas as pd
from tqdm import tqdm
import pymysql
import numpy as np
df_final = pd.read_csv('df_final.csv')
conn = pymysql.connect(
    host='35.241.209.88',
    user='root', 
    password = "#\\5.Go~{3Z^1*6.y",
    db='recomendacion',
)

/tmp/ipykernel_7504/3631866705.py:5: DtypeWarning: Columns (0,1,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_final = pd.read_csv('df_final.csv')

In [25]:
df_final.dropna(subset='imdb_id', inplace=True)
df_final['poster_path'].fillna('', inplace=True)
df_final[['poster_path', 'imdb_id']].isnull().sum()

/tmp/ipykernel_7504/237451906.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['poster_path'].fillna('', inplace=True)

poster_path    0
imdb_id        0
dtype: int64

In [26]:

with conn.cursor() as curs, tqdm(total=len(df_final)) as pbar:
    for i, row in enumerate(df_final.itertuples(index=False), 1):
        curs.execute(
            "UPDATE movies SET poster_path=%s WHERE imdb_id=%s",
            (row.poster_path, row.imdb_id)
        )
        pbar.update()

        # commit every 500 updates to avoid huge transaction
        if i % 500 == 0:
            conn.commit()

    # final commit
    conn.commit()
conn.close()

100%|██████████| 39718/39718 [1:19:01<00:00,  8.38it/s]