In [ ]:
import pymysql
import pandas as pd
import numpy as np

def create_companies(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS companies (
        id_company INT PRIMARY KEY,
        name VARCHAR(255)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

def create_countries(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS countries (
        iso VARCHAR(8) PRIMARY KEY,
        name VARCHAR(255)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

def create_languages(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS languages (
        iso VARCHAR(8) PRIMARY KEY,
        name VARCHAR(255)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

def create_genres(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS genres (
        id_genre INT PRIMARY KEY,
        genre VARCHAR(255)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

def create_movies(cursor):
    query =""" 
        CREATE TABLE IF NOT EXISTS movies (
        adult BOOL,
        budget INT,
        id_movie INT PRIMARY KEY,
        imdb_id VARCHAR(64),
        original_language VARCHAR(8),
        original_title VARCHAR(255),
        overview TEXT,
        popularity DECIMAL(20,10),
        poster_path TEXT,
        release_date DATE,
        revenue DECIMAL(20,2) NOT NULL DEFAULT 0,
        runtime DECIMAL(5,1),
        status VARCHAR(255),
        tagline TEXT,
        title VARCHAR(255),
        vote_average DECIMAL(3,1),
        vote_count INT,
        FOREIGN KEY (original_language) REFERENCES languages(iso)
        )ENGINE=InnoDB;
    """
    cursor.execute(query)

def create_genres_movies(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS movies_genres (
        id_movie INT,
        id_genre INT,
        FOREIGN KEY (id_movie) REFERENCES movies(id_movie),
        FOREIGN KEY (id_genre) REFERENCES genres(id_genre)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

def create_language_movies(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS movies_languages (
        id_movie INT,
        iso VARCHAR(8),
        FOREIGN KEY (id_movie) REFERENCES movies(id_movie),
        FOREIGN KEY (iso) REFERENCES languages(iso)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

def create_companies_movies(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS movies_companies (
        id_movie INT,
        id_company INT,
        FOREIGN KEY (id_movie) REFERENCES movies(id_movie),
        FOREIGN KEY (id_company) REFERENCES companies(id_company)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

def create_countries_movies(cursor):
    query = """ 
        CREATE TABLE IF NOT EXISTS movies_countries (
        id_movie INT,
        iso VARCHAR(8),
        FOREIGN KEY (id_movie) REFERENCES movies(id_movie),
        FOREIGN KEY (iso) REFERENCES countries(iso)
        ) ENGINE=InnoDB;
        """
    cursor.execute(query)

In [4]:
conn = pymysql.connect(
    host='35.241.209.88',
    user='root', 
    password = "#\\5.Go~{3Z^1*6.y",
    db='recomendacion',
)
conn

In [ ]:
with conn as connection:
    with connection.cursor() as curs:
        create_companies(cursor=curs)
        create_countries(cursor=curs)
        create_languages(cursor=curs)
        create_genres(cursor=curs)
        create_movies(cursor=curs)
        create_genres_movies(cursor=curs)
        create_language_movies(cursor=curs)
        create_companies_movies(cursor=curs)
        create_countries_movies(cursor=curs)      
        conn.commit()

In [29]:
from sqlalchemy import create_engine

conn = pymysql.connect(
    host='35.241.209.88',
    user='root', 
    password = "#\\5.Go~{3Z^1*6.y",
    db='recomendacion',
)

with conn as connection:
    with connection.cursor() as curs:
        curs.execute('DESCRIBE companies')
        for i in curs.fetchall():
            print(i)

engine = create_engine(
    "mysql+pymysql://root:#\\5.Go~{3Z^1*6.y@35.241.209.88:3306/recomendacion"
)

('id_company', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(255)', 'YES', '', None, '')

In [30]:
df_companies = pd.read_csv('clean/companies.csv')
df_companies.rename(columns={"id": "id_company"}, inplace=True)
df_companies.to_sql(
    name="companies",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

23692

In [31]:
df_countries = pd.read_csv('clean/countries.csv')
df_countries.dropna(inplace=True)
df_countries.to_sql(
    name="countries",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

160

In [32]:
df_languages = pd.read_csv('clean/languages.csv')
df_languages.to_sql(
    name="languages",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

74

In [33]:
df_genres = pd.read_csv('clean/genres.csv')
df_genres.to_sql(
    name="genres",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

32

In [ ]:
df_movies = pd.read_csv('clean/movies.csv')

df_movies['revenue'] = df_movies['revenue'].fillna(0.0)
df_movies['popularity'] = pd.to_numeric(df_movies['popularity'], errors='coerce')
df_movies['popularity'] = df_movies['popularity'].astype(float)

valid = pd.read_sql("SELECT iso FROM languages", engine)['iso'].astype(str)
df_movies = df_movies[df_movies['original_language'].astype(str).isin(valid)]

df_movies.rename(columns={"id": "id_movie"}, inplace=True)
df_movies.dropna(subset=['original_language'], inplace=True)
df_movies['overview'] = df_movies['overview'].fillna('')
df_movies['poster_path'] = df_movies['poster_path'].fillna('')
df_movies['tagline'] = df_movies['tagline'].fillna('')
df_movies['status'] = df_movies['status'].fillna('')
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')
df_movies = df_movies.where(pd.notnull(df_movies), None)

df_movies['adult'] = df_movies['adult'].map(
    lambda x: True
    if (x is True) or (isinstance(x, str) and x.strip().lower() == 'true')
    else False
)
df_movies.drop_duplicates(subset='id_movie', inplace=True)
df_movies.drop_duplicates(inplace=True)

df_movies.to_sql(
    name="movies",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

/tmp/ipykernel_6364/4292224862.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('clean/movies.csv')
/tmp/ipykernel_6364/4292224862.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_movies['revenue'].fillna(0.0, inplace=True)

45294

In [42]:
df_genres = pd.read_csv('clean/language_movies.csv')
df_genres.to_sql(
    name="language_movies",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

52802

In [45]:
df_genres = pd.read_csv('clean/genres_movies.csv')
df_genres.to_sql(
    name="genres_movies",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

91106

In [43]:
df_genres = pd.read_csv('clean/production_companies_movies.csv')
df_genres.to_sql(
    name="production_companies_movies",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

70545

In [44]:
df_genres = pd.read_csv('clean/production_countries_movies.csv')
df_genres.to_sql(
    name="production_countries_movies",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

49423